.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-toggle {
    padding: 0 0.7rem;
    border-radius: 4px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    li {
      padding: 8px;
      font-size: 0.9rem;
      color: $--PrimaryColor;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: $--PrimaryColor;
        color: $--whiteColor;
      }
    }
  }
}
