.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-toggle {
    padding: 0 0.7rem;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  .selectDropdown {
    color: $primary-color;
    padding: 0 0.7rem;
    font-size: 0.9rem;
    font-weight: 400;
    &:hover {
      color: $--HoverColor;
    }
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: column;

    .link {
      padding: 8px;
      font-size: 0.9rem;
      color: $primary-color;
      text-align: center;
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: $--whiteColor;
      }
    }

    .activeLink {
      padding: 8px;
      font-size: 0.9rem;
      color: black;
      text-align: center;
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: $--whiteColor;
      }
    }
  }
}
