.footer {
  background: $--greyBg;
  padding: 2rem 0;

  .secContainer {
    gap: 1.5rem;
    text-align: center;

    .footerLogo {
      align-items: center;
      justify-content: center;
      .logo {
        color: $--blackColor;
        font-weight: 500;
        cursor: pointer;
        padding-bottom: 0.5rem;
        .icon {
          font-size: 25px;
          color: $--PrimaryColor;
          margin-right: 0.5rem;
        }
      }
    }

    .social {
      gap: 0.5rem;
      margin: auto;
      justify-content: center;

      .icon {
        font-size: 30px;
        background: $--PrimaryColor;
        border-radius: 50%;
        color: $--whiteColor;
        padding: 8px;

        &:hover {
          background: $--blackColor;
        }
      }
    }

    .footerLinks {
      display: grid;
      row-gap: 0.2rem;

      .linkTitle {
        padding-bottom: 0.5rem;
        color: $--blackColor;
        font-weight: 700;
      }

      li {
        &:hover {
          transform: translateX(10px);
          a {
            color: $--PrimaryColor;
          }
        }
      }

      a,
      .phone,
      .email {
        color: $--textColor;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: 448px) {
  .secContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;

    .footerLinks {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 640px) {
  .secContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .secContainer {
    padding: 2rem;
  }
}
