.invoice-main {
  width: 100%;
  padding: 20px;
  min-height: 50vh;

  .invoice-container {
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 300px;
    .invoice-header {
      background-color: #f2f3f5;
      color: #43474a;
      height: 80px;
      font-size: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .invoice-content {
      padding: 40px;
      display: flex;
      flex-direction: column;

      .logo {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #c3c0c0;
        height: 130px;
        .title-invoice {
          font-size: 20px;
          color: #a1a19f;
        }
        .company-name {
          font-size: 36px;
          color: #43474a;
          display: flex;
          align-items: center;
          font-style: italic;
        }
      }
      .customer {
        margin-top: 50px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #c3c0c0;
        font-size: 14px;
        .customer-title {
          font-size: 15px;
          color: #43474a;
        }
      }
      .total {
        margin-top: 30px;
        height: 60px;
        display: flex;
        flex-direction: row-reverse;
        .total-prices {
          min-width: 300px;
          background-color: #e3e3e3;
          color: #43474a;
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 20px;
        }
      }
      .icon {
        display: flex;
        color: #43474a;
        font-size: 20px;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        // background-color: #e3e3e3;
        width: 180px;
        height: 40px;
      }
    }
  }
}
