.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.loading-spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 3px solid #f67009;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  // background-color: transparent !important;
  // box-shadow: none !important;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
