.navBarSection {
  .header {
    position: fixed;
    display: flex;
    align-items: "center";
    justify-content: flex-end;
    background: transparent;
    width: 100%;
    padding: 1rem;
    z-index: 100;
  }

  .activeHeader {
    background: linear-gradient(
      90deg,
      rgb(127 101 40) 0%,
      rgb(89 88 77) 50%,
      rgb(51 58 64) 100%
    );
  }

  @media screen and (max-width: 768px) {
    .navBar {
      background: $--greyBg;
      position: absolute;
      height: max-content;
      padding: 1rem;
      width: 100%;
      top: 0;
      left: -500%;
      @include boxShadow;
      transition: 0.8s ease;
      z-index: 100;

      .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;

        .navItem {
          padding: 1rem 0;

          .onSelected {
            color: $--PrimaryColor;
            font-size: 0.9rem;
            font-weight: 600;
          }

          .navLink {
            color: $--textColor;
            font-size: 0.9rem;
            font-weight: 600;
            &:hover {
              color: $--PrimaryColor;
            }
          }
        }
        .headerBtn {
          flex-direction: column;
          .btn {
            margin-top: 1rem;
            a {
              font-weight: 600;
              &:hover {
                color: $--whiteColor;
              }
            }
          }
          .loginBtn {
            background: none;
            border: 1px solid $--PrimaryColor;
            a {
              color: $--PrimaryColor;
            }
            &:hover {
              background: $--HoverColor;
              a {
                color: $--whiteColor;
              }
            }
          }
        }
      }
      .closeNavBar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: $--PrimaryColor;
        &:hover .icon {
          color: $--HoverColor;
        }
      }
    }
    .activeNavBar {
      left: 0;
    }
  }
  .toggleNavBar {
    .icon {
      font-size: 25px;
      color: $--whiteColor;
      &:hover {
        color: $--PrimaryColor;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .navBarSection {
    .toggleNavBar,
    .closeNavBar {
      display: none;
    }
    .header {
      padding: 1.5rem 1rem;
      .navBar {
        .navLists {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .navItem {
            .onSelected {
              color: $--PrimaryColor;
              padding: 0 0.45rem;
              font-size: 0.9rem;
              font-weight: 400;
              &:hover {
                color: $--HoverColor;
              }
            }

            .navLink {
              color: $--whiteColor;
              padding: 0 0.45rem;
              font-size: 0.9rem;
              font-weight: 400;
              &:hover {
                color: $--PrimaryColor;
              }
            }
          }

          .btn {
            margin-left: 0.6rem;

            a {
              color: $--whiteColor;
              font-weight: 500;
            }
          }

          .loginBtn {
            background: none;
            border: 1px solid $--PrimaryColor;
            &:hover {
              background: $--PrimaryColor;
              a {
                color: $--whiteColor;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    .navBar {
      .navLists {
        .navItem {
          padding: 0 0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 5.5rem !important;
  }
}
