.admin {
  .sidebar {
    width: 200px;
    height: 100vh;
    .logo {
      height: 100px;
      background-color: #4b1f11;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        cursor: pointer;
        font-family: "PalmspringsPersonalUseRegular-d9VDV";
        font-size: 30px;
        background: linear-gradient(
          90deg,
          rgb(209, 131, 131) 0%,
          rgb(223 204 70) 50%,
          #e08d21 100%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
