.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.contact-page h1 {
  margin-top: 0;
}

.contact-page .map-container {
  height: 400px;
  margin-bottom: 40px;
}

.contact-page form {
  display: flex;
  flex-direction: column;
}

.contact-page label {
  margin-bottom: 10px;
}

.contact-page input,
.contact-page textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.contact-page textarea {
  height: 200px;
}

.contact-page button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-page button:hover {
  background-color: #3e8e41;
}
