.home {
  height: 60vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
    url("../../picture/pic5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  .secContainer {
    justify-content: center;
    align-items: center;
    .homeText {
      text-align: center;
      flex-direction: column;
      .logo {
        cursor: pointer;
        .textLogo {
          font-family: "PalmspringsPersonalUseRegular-d9VDV";
          font-size: 60px;
          background: linear-gradient(
            90deg,
            rgb(209, 131, 131) 0%,
            rgb(223 204 70) 50%,
            #e08d21 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .subTitle {
        color: $--whiteColor;
        opacity: 0.9;
        font-size: 13px;
        font-weight: 300;
        padding: 1rem 0;
        max-width: 70%;
        text-align: center;
        margin: auto;
      }
      .btn {
        padding: 0.6rem 1.1rem;
        border-radius: 10px;
        color: $--whiteColor;
        justify-content: center;
        background: linear-gradient(
          90deg,
          #e08d21 0%,
          rgb(239 204 99) 50%,
          rgb(235, 94, 94) 100%
        );
        .iconSearch {
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }

    .homeCard {
      width: 80%;
      border-radius: 1rem;
      padding: 2rem;
      background: $--whiteColor;
      position: absolute;
      gap: 1rem;
      justify-content: center;
      bottom: -30%;
      transform: translateX(-50%);
      left: 50%;
      z-index: 10;
      @include boxShadow;
      .locationDiv,
      .distDiv,
      .priceDiv {
        z-index: 10;
        width: 100%;
        .date {
          margin-top: 20px;
          position: absolute;
          transform: translate(-50%);
          left: 50%;
        }
        .datePicker {
          width: 100%;
          padding: 10px;
          background: $--inputColor;
          border-radius: 10px;
          font-size: 13px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $--greyText;
          cursor: pointer;
        }

        label {
          display: block;
          color: $--textColor;
          font-weight: 500;
          font-size: 13px;
          padding-bottom: 0.4rem;
        }
        input {
          width: 100%;
          background: $--inputColor;
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 13px;
          font-weight: 500;

          &::placeholder {
            font-size: 13px;
            opacity: 0.5;
            font-weight: 400;
            color: $--textColor;
          }
          &:focus {
            outline: none;
          }
        }
      }

      .btn {
        padding: 0.6rem 1.5rem;
        color: $--whiteColor;
        font-weight: 600;
      }
    }
    .displayHomeCard {
      display: none;
    }
  }
  .closeSearchBar {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    color: $--PrimaryColor;
    &:hover .icon {
      color: $--HoverColor;
    }
  }
  .floatingButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    flex-direction: column;
    .icon {
      color: $--whiteColor;
      font-size: 22px;
    }

    .activeFloating {
      flex-direction: column;
    }
  }
}
@media screen and (min-width: 350px) {
  .home {
    .secContainer {
      .homeCard {
        display: none;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        .btn {
          margin-top: 20px;
        }
      }
      .active {
        display: grid !important;
      }
    }
  }
}

@media screen and (min-width: 556px) {
  .home {
    .secContainer {
      .homeText {
        .logo {
          .textLogo {
            font-size: 65px;
          }
        }
        .subTitle {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .home {
    .secContainer {
      .homeText {
        padding: 1rem 10rem;
        .logo {
          .textLogo {
            font-size: 70px;
          }
        }
        .subTitle {
          width: 80%;
        }
      }
      .homeCard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .home {
    .secContainer {
      .homeText {
        padding: 1rem 10rem;
        .logo {
          .textLogo {
            font-size: 70px;
          }
        }
        .subTitle {
          width: 80%;
        }
      }

      .homeCard {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .secContainer {
      .homeText {
        .logo {
          .textLogo {
            font-size: 80px;
          }
        }
        .subTitle {
          font-size: 20px;
        }
      }

      .homeCard {
        width: 80%;
      }
    }
  }
}
