@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "digital-7 (italic)";
  src: local("digital-7 (italic)"), url("../../font/digital-7\ \(italic\).ttf");
}

@font-face {
  font-family: "PalmspringsPersonalUseRegular-d9VDV";
  src: local("PalmspringsPersonalUseRegular-d9VDV"),
    url("../../font/PalmspringsPersonalUseRegular-d9VDV.ttf");
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  font-size: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.4rem 1.5rem;
  background: $primary-color;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn a {
  color: $--whiteColor;
  font-weight: 500;
}

.btn:hover a {
  color: $--whiteColor;
}

.btn:hover {
  background: $--HoverColor;
}

.secIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .sectTitle {
  color: $--blackColor;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.secIntro p {
  font-size: 13px;
  color: $--textColor;
  font-weight: 500;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

@media screen and (min-width: 556px) {
  .mainContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 75% !important;
    margin: auto;
  }

  .secIntro {
    margin: 0 auto 3rem;
  }

  .secIntro .sectTitle {
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  }

  .secIntro p {
    font-size: 15px;
  }
}

.form-control {
  height: 35px;
  border-radius: 0.25rem;
  border: 1px solid $grey1;
  padding-left: 15px;
  padding-right: 5px;
  width: 160px;
  font-size: 14px;
  outline: none;
  &:focus {
    border: 1px solid $primary-color;
    border-radius: 0.25rem;
  }
}

.button {
  background-color: $primary-color;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}

.base-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  thead {
    background-color: #f7f7f8;
    height: 60px;
  }
  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  th {
    color: #888;
    font-size: 15px;
    font-weight: 600;
    min-width: 80px;
  }
  tr,
  td {
    min-width: 80px;
    border-bottom: 1px solid #dee2e6;
    white-space: nowrap;
    padding: 0.75rem 0.75rem;
    text-align: center;
    &:hover {
      background-color: #f7f7f8;
    }
  }
  .collection {
    width: 60px;
    height: 60px;
  }
}
