$primary-color: #fafafa;
$--PrimaryColor: #f67009;
$--HoverColor: #cb5e0b;
$--whiteColor: #ffffff;
$--blackColor: #2e2e2e;
$--textColor: #79797c;
$--whiteColorDeam: #ededed;
$--greyBg: #f5f5f5;
$--greyText: #bebebe;
$--inputColor: #f8f6f7;
$--lightGrey:#d1d1d1

