$primary-color: #f67009;
$--HoverColor: #cb5e0b;
$--whiteColor: #ffffff;
$--blackColor: #2e2e2e;
$--textColor: #79797c;
$--greyBg: #f5f5f5;
$--greyText: #bebebe;
$--inputColor: #bebebe85;
$--lightGrey: #d1d1d1;
$lightestGrey: #bebebe82;
$grey1: #bababa;
