.tour-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
  max-width: 500px;
}

.form-control {
  text-align: left;
  width: 100%;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  resize: none;
}
/* Style cho div bao quanh tour */
.tour {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style cho hình ảnh tour */
.tour-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style cho tên tour */
.tour-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* Style cho mô tả tour */
.tour-description {
  margin-top: 10px;
  line-height: 1.5;
}

/* Style cho giá tour */
.tour-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #f44336;
}
