.tour-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
  max-width: 500px;
}
.new-tour {
  input {
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    resize: none;
    height: 200px !important;
    padding-top: 0.5rem;
    margin-top: 10px;
  }
  .form-control {
    text-align: left;
    width: 100%;
  }
}
label {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Style cho div bao quanh tour */
.tour {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style cho hình ảnh tour */
.tour-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style cho tên tour */
.tour-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* Style cho mô tả tour */
.tour-description {
  margin-top: 10px;
  line-height: 1.5;
}

/* Style cho giá tour */
.tour-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #f44336;
}

.image-selected {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  .picture {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid #bababa;
    border-radius: 8px;
    margin-right: 10px;
    position: relative;

    .icon {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      right: 3px;
      cursor: pointer;
    }
  }
}

#image-place {
  display: none;
}
.button-select {
  min-height: 60px;
  width: 100%;
  border: 1px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  border-style: dashed;
  &:hover {
    border: 1px solid #f67009;
    border-style: dashed;
    color: #f67009;
  }
}
.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .button {
    width: 120px;
  }
}

.days {
  padding-left: 15px;
  .day {
    display: flex;
    align-items: center;
  }
  input {
    margin-top: 10px;
  }
  p {
    margin-top: 10px;
    white-space: nowrap;
    margin-right: 10px;
  }
  .line {
    width: 100%;
    border: 1px solid #bababa;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dashed;
  }
}
